body{
    font-size: 18px;
    line-height: 50px;
    /* font-weight: bolder; */
    /* font-style: italic; */
    /* font-variant: normal; */

}

.demo1{
    width: 600px;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 30px;
    /* font-size: 2em; */
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 5px red;
    text-decoration: underline rebeccapurple dashed;
    text-align: center;
    text-align-last: center;
    text-transform: capitalize;
    text-indent: 60px;
    word-spacing: 40px;
    letter-spacing: 20px;
}
.demo2{
    width: 600px;
    border: 2px solid black;
    padding: 20px;
    line-height: 2em;
}
/* .demo1 span{ */
    /* font-size: 2em; */
/* } */